body{
	background-color:Aqua;
	font-size:120%;
}
nav a{
	display:inline-block;
	width: 150px;
	padding: 20px;
	background-color: #FF0000;
	color: white;
	border: 5px solid white;
	border-radius: 90px;
	text-align: renter;
	
	
	